.footer {
  background: #343434;
  color: #f8f8f8 !important;
  display: flex;
}

.footerCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
}

.bits {
  margin: 0.25rem 0;
  display: flex;
  color: #f2f2f2;
}

.bits img, .bits p {
  margin: 0 0.5rem;
}

.logo {
  margin: 0;
  width: 3rem;
  height: 3rem;
}