.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  z-index: 15;
  background: rgba(0,0,0,0.6);
}

.headerMain {
  position: relative;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerNav {
  position: relative;
  z-index: 14;
  margin: 0 3rem;
  display: flex;
  align-items: center;
  transition: transform 400ms ease-in-out;
}

.headerNav a {
  text-decoration: none;
  height: 100%;
  color: #f8f8f8;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 300ms linear;
}

.headerNav a:hover {
  background: rgba(255,255,255,0.7);
}

.logo {
  margin: 0.5rem 3rem;
  width: 2.5rem;
  height: 2.5rem;
}

.menuIcon {
  margin: 0.5rem 3rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  display: none;
}

@media(max-width: 700px) {
  .header {
    flex-direction: column;
    background: rgba(0,0,0,0);
  }

  .headerMain {
    background: #323232;
  }

  .headerNav {
    flex-direction: column;
    margin: 0;
    background: rgba(0,0,0,0.6);
  }

  .headerNavHidden {
    transform: translateY(-100%);
  }

  .headerNav a {
    width: 100%;
    text-align: center;
  }

  .menuIcon {
    display: block;
  }
}